.CP-Contenedor-Lista {
  width: 100%;
  height: auto;
}
.CI-Tarjeta-clima-dias {
  display: grid;
  grid-template-columns: 20px 100px 20px;
  grid-template-rows: 50px auto 50px;
  gap: 10px;
}
.I-Tarjeta-dias {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  place-content: center;
  color: white;
  padding: 10px;
}
.icono-nube {
  width: 50px;
  height: 50px;
}
.Ciudad {
  font-size: 1rem;
  color: #5cebc1;
}
.Clima {
  font-size: 1.2rem;
}
.dia {
  font-size: 1rem;
  color: #5cebc1;
}
.Temperatura-dia {
  font-size: 0.9rem;
}

@media only screen and (min-device-width: 320px) and (max-width: 768px) and (orientation: portrait) {
  .CI-Tarjeta-clima-dias {
    grid-template-columns: 20px 1fr 20px;
  }
}
